html {
    width: 100%;
    height: 100%;
    background-image: url(spacebackground3.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: my-font;
    src: url(Robot9000Italic.ttf);
}




.container {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 20px;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 10%;
    left: 12%;
    padding: 25px;
    gap: 30px;
    
}

:root {
    --eddy-blue: rgb(6, 158, 247);
    --bg-color: rgb(91, 92, 93);
    --eddy-yellow: rgb(209, 231, 8);
}

p {
    font-size: 10px;
}

#Soundcloud {
        align-items: center;
        font-size: 30px;
        height: 100%;
}

#Home {
    min-height: 30%;
    max-width: 35%;
    background-color: transparent;
    border: transparent;
    
    
}

img {
   max-width: 100%;
   
}

a {
    display: inline;
    text-wrap: nowrap;
    width: 100px;
    height: 100px;
    align-items: space-between;
}

.social {
    display: flex;
    margin-right: 0;
    gap: 10px;
    max-width: 30%;
    height: 10%;
    position: relative;
    top: 0;
    left: 0;
}

.social #TTV {
    width: 100px;
    height: 100px;
}

.rfrPoints {
    display: flex;
    gap: 25%;
    align-items: center;
    position: relative;
    bottom: 0px;
    border-radius: 49px;
    justify-content: center;
    left: -5%;
    
}

.rfr {
    color: var(--eddy-blue);
    font-family: my-font;
}


#exx {
    display: inline-block;
    line-height: 1em;
    overflow: hidden;
    color: var(--eddy-yellow);
}

.container .dates {
    display: grid;
    font-family: my-font;
    font-size: 28px;
    padding: 10px;
    grid-area: stretch;
    opacity: 90%;
    color: var(--eddy-blue);
}

.container .dates td{
    border: none;
    background-color: transparent;  
    gap: 15px;
    padding: 20px;
    border-bottom: 2px solid yellow;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border:rgb(91, 92, 93);
    padding: 10px;
    font-size: 17px;
    width: 100%;
    font-family: my-font;
    color:rgb(237, 253, 6);
    opacity: 70%;
    border-radius: 15px;
}



input {
    padding: 7px 7px;
    border-radius: 1px;
    max-width: 100%;
    max-height: 100%; 
    font-family: my-font;

}

.container .formPart form textarea {
    padding: 25px 15px;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.container .formPart form button {
    border-radius: 6px;
    background-color: rgb(237, 253, 6);
    color: var(--eddy-blue);
    font-family: my-font;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    
}

iframe {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1000px;
    overflow: hidden;
}

#soundcloudapp {
    display: grid;
    grid-template-rows: 1fr;  
    width: 100%;
    position: initial;
    box-sizing: border-box;
    justify-content: center;
    resize: both;
    
}

#frames {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 50%;
    position: relative;
    overflow: hidden;
    
    
}

#frames::-webkit-scrollbar {
    display: none;
}

.controlBtns {
    width: 100%;
    position: absolute;
    left: 0;
    top: 40%;
    color: white;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}



#nextBtn, #prevBtn {
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
    opacity: 15%;
  }

#nextBtn:focus, #prevBtn:focus {
    outline: none;
    opacity: 90%;
  }
  
#prevBtn {
    transform: rotate(180deg);
    
  }

#header {
    text-align: center;
    display: grid;
    max-height: 35%;
    max-width: 100%;
    color: white;
    font-size: 35%;
    font-family: my-font;
    align-items: center;
    position: relative;
    grid-template-columns: 1fr;
}

#header img {
    width: 8%;

}

#header a{
    color: var(--eddy-blue);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    
}

ul {
    list-style-type: none;
    background-color: var(--eddy-yellow);
    margin: 0px;
    font-size: 25px;
    border-radius: 10px;
    padding: 0px;
    height: 70%;
    position: relative;
    top: -20px;
    
    
    
    
}

#header li {
    float: left;
    

}

  


