html {
    width: 100%;
    height: 100%;
    background-image: url(spacebackground3.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    justify-content: center;
}


@font-face {
    font-family: my-font;
    src: url(Robot9000Italic.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 45px;
    font-weight: 400;
    margin-top: 20px;
    align-items: center;
    z-index: 3;
    top: 0;
    padding: 0;
    gap: 30px;
    
}


:root {
    --eddy-blue: rgb(6, 158, 247);
    --bg-color: rgb(91, 92, 93);
    --eddy-yellow: rgb(209, 231, 8);
}

#header {
    text-align: center;
    display: flex;
    height: 3rem;
    width: 100%;
    color: white;
    font-size: 1fr;
    font-family: my-font;
    align-items: center;
    position: absolute;
    z-index: -10;
    left: 0;
    top: 0;
}

#header a{
    color: var(--eddy-blue);
    text-decoration: none;
    display: grid;
    text-align: center;
    
}


ul {
    list-style-type: none;
    background-color: var(--eddy-yellow);
    margin: 0px;
    font-size: 25px;
    border-radius: 10px;
    height: 100%;
    position: relative;
    top: 0;
    width: 100%;
    inset: 0;
    padding: 0;
    gap: 20px;
    display: flex;
        
}

li {
    float: left;
}

ul:hover {
    cursor: pointer;
    color: white;
}

p {
    font-size: 10px;
}

#Soundcloud {
     align-items: center;
     font-size: 30px;
     height: 100%;
        
}

#Home {
    min-height: 80%;
    max-width: 35%;
    background-color: transparent;
    border: transparent;
    padding-top: 8%;
    left: 2%;
    position: relative;
    
    
}

img {
   max-width: 100%;
   
}

a {
    display: inline;
    text-wrap: nowrap;
    width: 100px;
    height: 100px;
    align-items: space-between;
}

.social {
    display: flex;
    right: 1rem;
    gap: 10px;
    position: fixed;
    top: 0;
    z-index: +1;
    width: 8rem;
}


.rfrPoints {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0px;
    justify-content: center;
    left: 0;  
}

.rfr {
    color: var(--eddy-yellow);
    font-family: my-font;
}

#rfr1 {
    color: var(--eddy-yellow);
    font-family: my-font;
    position: relative;
    left: -40%;
}


#exx {
    display: inline-block;
    color: var(--eddy-yellow);
}

.container .dates {
    display: grid;
    font-family: my-font;
    font-size: 28px;
    padding: 30px;
    grid-area: stretch;
    opacity: 90%;
    color: var(--eddy-blue);
}

.container .dates td{
    border: none;
    background-color: transparent;  
    gap: 15px;
    padding: 20px;
    border-bottom: 2px solid yellow;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    font-size: 17px;
    font-family: my-font;
    color:rgb(237, 253, 6);
    opacity: 70%;
    position: relative;
    left: 0;
}



input {
    padding: 7px 7px;
    width: 20rem;
    max-height: 100%; 
    font-family: my-font;

}

.container .formPart form textarea {
    padding: 25px 15px;
    border-radius: 10px;
    width: 20rem;
    max-height: 100%;
}

.container .formPart form button {
    border-radius: 6px;
    background-color: rgb(237, 253, 6);
    color: var(--eddy-blue);
    font-family: my-font;
    width: 50%;
    position: relative;
    left: 0;
    align-items: center;
    justify-content: center;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -11;
}



iframe {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1000px;
    overflow: hidden;
    left: 2%;
}



#soundcloudapp {
    display: grid;
    grid-template-rows: 1fr;  
    width: 100%;
    position: initial;
    box-sizing: border-box;
    justify-content: center;
    resize: both;
    
}

#frames {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 75%;
    gap: 20%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

#frames::-webkit-scrollbar {
    display: none;
}

.controlBtns {
    width: 100%;
    position: relative;
    left: 0;
    top: -20%;
    color: white;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    gap: 40px;
}



#nextBtn, #prevBtn {
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    border: none;
    padding: 15px;
    color: white;
    opacity: 15%;
  }

  

#nextBtn:focus, #prevBtn:focus {
    outline: none;
    opacity: 90%;
  }
  
#prevBtn {
    transform: rotate(180deg);
    
  }



footer {
    background-color: var(--eddy-yellow);
    position: absolute;
    padding: 40px;
    font-size: 15px;
    color: var(--eddy-blue);
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    opacity: 65%;
    margin-bottom: auto;

}


@media (max-width: 680px) {
    #nextBtn, #prevBtn {
        padding: .0001px;
        position: relative;
    }

    .controlBtns {
        top: 50%;
    }

    ul {
        width: 100%;
    }

    footer{
        width: 100%;
    }

    #header {
        width: 100%;
    }
    .socials {
        top: 60%;
        display: flex;
        flex-direction: column;
    }
    canvas {
        position: fixed;
        width: 320px;
    }
    iframe {
        width: 680px;
        left: 5%;
    }
    form {
        width: 680px;
        left: 40%;
        align-items: center;
        justify-content: center;
    }
    #formSubmit {
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -60%;

    }
  }

  @media (max-width: 380px) {
    ul {
        width: 380px;
    }
    footer {
        width: 380px;
    }
    #header {
        width: 380px;
    }
    .socials {
        top: 60%;
    }

    form {
        width: 380px;
        left: 40%;
    }
    .container {
        font-size: 25px;

    }
    html {
        background-repeat: no-repeat;
    }
    canvas {
        position: fixed;
        width: 320px;
    }
  }



@media (min-width: 1080px) {
    iframe {
        width: 1000px;
        left: 40%;
    }
}

